{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="{% static 'images/finallogo.png' %}" alt="">
            </div>
            <div class="menus">
                <div class="menu_items">
                    <a href="{% url 'homepage' %}"><h5>Home</h5></a>
                    <h5>Features</h5>
                    <h5>Task</h5>
                    <h5>About</h5>
                </div>
            </div>
        </div>
        <div class="todo">
            <!-- <h1 class="todo-head">Edit Your Todo</h1> -->
            <div class="todo-form">
                <h2>Edit Your ToDo</h2>
                <form method="post" action="{% url 'edittodo' pk=pen.pk %}" class="enter-todo">{% csrf_token %} 
                    <input type="text" name="task" placeholder="Enter your tasks" value="{{pen.task}}">
                    <input type="date" id="task-date" name="deadline" value="{{pen.deadline|date:'Y-m-d'}}">
                    <button type="submit" id="addtodo">Save Changes</button>
                </form>
            </div>
        </div>

    </div>
        <script>
        const today = new Date().toISOString().split('T')[0];
        document.getElementById("task-date").setAttribute("min", today);
    </script>
</body>
</html>