{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>
<body>
    <div class="profilewrapper">
        <div class="prof">
            <h4 class="closebtn" onclick="closebttn()">x</h4>
            <div class="detail">
                {% if prof %}
                <form method="POST"action="{% url 'profileedit' pk=prof.pk %}" class="profform">{% csrf_token %}
                <h1>Profile</h1>
                <input type="text" id="frstname" name="firstname" placeholder="First Name" value="{{prof.firstname}}">
                <input type="text" id="lastname" name="lastname" placeholder="Last Name" value="{{prof.lastname}}">
                <input type="email" id="email" name="email" placeholder="Email" value="{{prof.email}}">
                <input type="tel" id="phno" name="phoneno" placeholder="Phone Number" maxlength="10" minlength="10" value="{{prof.phoneno}}">
                </form>
                <div class="edit-del">
                <button type="button" id="edit">Edit</button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="reg-wrapper">
        <div class="todo-reg">
            <h4 class="closebtn" onclick="closebtn()">x</h4>
            <h1>Open an Account</h1>
            <div class="details">
                <form method="post" action="{% url 'signup' %}" class="signupForm">
                {% csrf_token %} 
                    <input type="text" id="firstname" name="firstname" placeholder="First Name">
                    <input type="text" id="lastname" name="lastname" placeholder="Last Name">
                    <input type="email" id="email" name="email" placeholder="Email">
                    <input type="tel" id="phno" name="phoneno" placeholder="Phone Number" maxlength="10" minlength="10">
                    <input type="file" id="image" name="image" accept="image/*">
                    <input type="text" id="usrname" name="username" placeholder="User name"> 
                    <input type="password" id="pwd" name="password" placeholder="Password">
                    <button type="submit" id="reg-btn">SUBMIT</button> 
                </form>
            </div>
        </div>
    </div>
    <div class="loginwrapper">
        <div class="login-todo">
            <h4 class="closeicon" onclick="closeicon()">x</h4>
                <h1>LOGIN</h5>
            <div class="login-details">
                <form action="{% url 'login' %}" method="post" class="loginform">{% csrf_token %}
                    <input type="text" name="username" id="userid" placeholder="User name">
                    <input type="password" name="password" id="passid" placeholder="Password">
                    <button id="login-btn">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="{% static 'images/finallogo.png' %}" alt="">
            </div>
            <div class="menus">
                <div class="menu_items">
                    <h5>Home</h5>
                    <h5>Features</h5>
                    <a href="{% url 'addtodo' %}"><h5>Task</h5></a>
                    <a href="#about"><h5>About</h5></a>
                </div>
            </div>
            <div class="btns">
                {% if request.user.is_authenticated %}
                {% if not request.user.is_superuser %}
                <div class="user-profile" onclick="profileoff()">
                    <h2><ion-icon name="person-circle"></ion-icon></h2>
                    <h5>{{request.user}}</h5>
                </div>
                {% else %}
                <div class="user-profile">
                    <h2><ion-icon name="person-circle" ></ion-icon></h2>
                    <h5>{{request.user}}</h5>
                </div>
                {% endif %} 
                <div class="b1"><a href="{% url 'logout' %}"><button id="logout">LOGOUT</button></a></div>
                {% else %}
                <div class="b1"><button id="reg" onclick="regoff()">REGISTER</button></div>
                <button id="login" onclick="loginoff()">LOGIN</button>
                {% endif %}
            </div>
        </div>
        <div class="banner">
            <div class="left-banner">
                <div class="card">
                    <div class="card-left">
                        <h2>Integration Tools</h2>
                        <h5>Avg Response Time:</h4>
                        <h2 class="thumbs">365 <button id="fast"><ion-icon name="thumbs-up"></ion-icon>Fast</button></h2>
                        <h6>second</h6>
                    </div>
                    <div class="card-right">
                        <img src="{% static 'images/clk.png' %}" alt="">
                    </div>
                </div>
                <div class="sub-card">
                    <div class="subcard-icon"><ion-icon name="people"></ion-icon></div>
                    <div class="subcard-details"><h2>1,273</h2><h6>Total Customers</h6></div>
                </div>
                <div class="sub-card">
                    <div class="subcard-icon"><ion-icon name="person-add"></ion-icon></div>
                    <div class="subcard-details"><h2>828</h2><h6>Active Customers</h6></div>
                </div>
                <div class="sub-card">
                    <div class="subcard-icon"><ion-icon name="wallet"></ion-icon></div>
                    <div class="subcard-details"><h2>₹10,928</h2><h6>Revenue</h6></div>
                </div>
                <div class="sub-card">
                    <div class="subcard-icon"><ion-icon name="bag-remove"></ion-icon></div>
                    <div class="subcard-details"><h2>₹2,912</h2><h6>Expense</h6></div>
                </div>
            </div>
            <div class="right-banner">
                <button id="cp">Connecting people</button>
                <h1>Turn To Dos <ion-icon name="radio"></ion-icon><br>
                into Done With <br>
                <ion-icon name="flash"></ion-icon>
                TODO</h1>
                <h5>Imagine a day where tasks are clear, deadlines are met, and <br>
                your to-do list works for you, not against you.</h5>
                <div class="sffandlm">
                    <button id="sff">Start for Free<ion-icon name="arrow-forward-circle"></ion-icon></button>
                    <button id="lm">Learn More<ion-icon name="arrow-forward-circle"></ion-icon></button>
                </div>
                <div class="tsu">
                    <div class="trust">
                        <h4>Trusted by Teams</h4>
                        <h2>500+</h2>
                    </div>
                    <div class="save">
                        <h4>Saved Million Hours</h4>
                        <h2>5M</h2>
                    </div>
                    <div class="user">
                        <h4>User Satisfaction</h4>
                        <h2>90%</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="down">
            <div class="down-area">
                <button id="pp">Project Progress</button>
                <h2>Tools That Work for You</h2>
                <h2>Not Againt You</h2>
                <h6>Taskly makes managing tasks feel effortless and intutive</h6>
            </div>
            <div class="cards">
                <div class="card-one">
                    <div class="icon">
                        <ion-icon name="analytics"></ion-icon>
                    </div>
                    <div class="card-details">
                        <h3>Organize</h3>
                        <h6>Arrange tasks by priority and <br> deadlines</h6>
                        <h4>Explore <ion-icon name="arrow-forward"></ion-icon></h4>
                    </div>
                </div>
                <div class="card-one">
                    <div class="icon">
                        <ion-icon name="chatbox-outline"></ion-icon>
                    </div>
                    <div class="card-details">
                        <h3>Collaborate</h3>
                        <h6>Arrange tasks by priority and <br> deadlines</h6>
                        <h4>Explore <ion-icon name="arrow-forward"></ion-icon></h4>
                    </div>
                </div>
                <div class="card-one">
                    <div class="icon">
                        <ion-icon name="airplane-outline"></ion-icon>
                    </div>
                    <div class="card-details">
                        <h3>Automate</h3>
                        <h6>Arrange tasks by priority and <br> deadlines</h6>
                        <h4>Explore <ion-icon name="arrow-forward"></ion-icon></h4>
                    </div>
                </div>
                <div class="card-one">
                    <div class="icon">
                        <ion-icon name="analytics"></ion-icon>
                    </div>
                    <div class="card-details">
                        <h3>Track</h3>
                        <h6>Arrange tasks by priority and <br> deadlines</h6>
                        <h4>Explore <ion-icon name="arrow-forward"></ion-icon></h4>
                    </div>
                </div>
                <div class="card-one">
                    <div class="icon">
                        <ion-icon name="analytics"></ion-icon>
                    </div>
                    <div class="card-details">
                        <h3>Integrate</h3>
                        <h6>Arrange tasks by priority and <br> deadlines</h6>
                        <h4>Explore <ion-icon name="arrow-forward"></ion-icon></h4>
                    </div>
                </div>
                <div class="card-one">
                    <div class="icon">
                        <ion-icon name="analytics"></ion-icon>
                    </div>
                    <div class="card-details">
                        <h3>Customize</h3>
                        <h6>Arrange tasks by priority and <br> deadlines</h6>
                        <h4>Explore <ion-icon name="arrow-forward"></ion-icon></h4>
                    </div>
                </div>
                <div class="card-one">
                    <div class="icon">
                        <ion-icon name="analytics"></ion-icon>
                    </div>
                    <div class="card-details">
                        <h3>Notify</h3>
                        <h6>Arrange tasks by priority and <br> deadlines</h6>
                        <h4>Explore <ion-icon name="arrow-forward"></ion-icon></h4>
                    </div>
                </div>
                <div class="card-one">
                    <div class="icon">
                        <ion-icon name="analytics"></ion-icon>
                    </div>
                    <div class="card-details">
                        <h3>Analyze</h3>
                        <h6>Arrange tasks by priority and <br> deadlines</h6>
                        <h4>Explore <ion-icon name="arrow-forward"></ion-icon></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="about" id="about">
            <h1>About</h1>
            <p>Stay organized and boost your productivity with our simple yet powerful to-do app. Whether you're managing daily tasks, planning projects, or setting personal goals, our app helps you keep everything in one place. With features like easy task creation, reminders, and prioritization, getting things done has never been easier.</p>
        </div>
    </div>
    <script src="{% static 'js/homepage.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>